body{

font-family: Arial, sans-serif ;

}

nav{
width: 100%;
height: 60px;
background: #344051;

}


.logo{

color: #ffffff;
font-size: 28px;
line-height: 60px;
margin-left: 388px;
float: left;
}


.menu{

float: left;
margin-left: 431px;
color: #ffffff;
font-size: 16px;
line-height: 60px;
}

.menu li{
float: left;
margin-right: 40px;
text-transform: uppercase;
}

.main{

	width: 100%;
	height: calc(100% - 60px) ;
	background: url("../img/fon4.png") 90% 100%/auto 85% no-repeat,url("../img/fon.jpg") center/cover no-repeat ;
}
.title_container{

float: left;
margin: 432px 0px 0px 404px ;
color:  #2c384a;
text-align: center;
}
.title_container h1{
font-size: 60px;
font-weight: bold;

}
.title_container h4{
margin-top: 40px;
font-size: 22px;
color: #79818d;
}
.title_container input{

	height: 42px;
	text-align: center;
	background: none;
	border: solid 2px #79818d;
	color: #6d7682;
	border-radius: 5px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
	
}


.container{
width: 100%;


}

.container .container_title{
text-align: center;
margin-left: 596px;
margin-top: 97px;
width: 732px;
margin-bottom: 98px;	
}
.container .container_title input{
height: 42px;
	text-align: center;
	background: none;
	border: solid 2px #79818d;
	color: #6d7682;
	border-radius: 5px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
	
}


.container .container_title h2{
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
}

.container .container_title .cherta{
margin-top: 33px;
margin-bottom: 61px;

}
.container .container_title .Foto_tl{

margin-bottom: 22px;

}


.container .container_body{
background: url("../img/fon_2.png") center/cover no-repeat ;
text-align: center;
width: 100%;
}

.container .container_body .content {
display:inline-block;
width: 214px;
margin-left: 43px;
margin-right: 43px;
text-align: center;
margin-bottom: 92px;
}

.container .container_body h2{
	padding-top: 107px;
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
}

.container .container_body .cherta{
margin-top: 33px;
margin-bottom: 103px;

}

.container .container_body .Zagolovok_kart{

margin-bottom: 35px;

}



.container .container_body .Zagolovok_mini{


	color: #d17700;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}


.container .container_slider{


	text-align: center;

}

.container .container_slider .slider_title h2{
	padding-top: 107px;
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
text-align: center;

}

.container .container_slider .slider_title .cherta{
margin-top: 33px;
margin-bottom: 35px;

}

.container .container_slider .slider_title>p{
width: 695px;
text-align: center;
margin-left: 620px;
}

.container .container_slider .slider{
	
margin-left: 28px;
margin-top: 42px;
text-align: center;
}



.container .container_slider .content_slider1{display:inline-block;
	width: 204px;
margin-top: 22px;
text-align: left;
margin-right: 84px;
}

.container .container_slider .content_slider2{display:inline-block;
width: 849px;
margin-top: 12px;
text-align: left;
vertical-align: top;
}

.container .container_slider .content_slider1>h2{

text-transform: uppercase;
color: #263244;
font-size: 20px;
font-weight: bold;
text-align: left;
margin-bottom: 15px;

}

.container .container_slider .content_slider1>p{


text-align: left;
margin-bottom: 15px;

}



.container .container_slider .content_slider1>input{

text-transform: uppercase;
width: 200px;
background: #63b5ae;
color:  #ffffff;
font-size: 18px;
font-weight: bold;
height: 44px;
border-radius: 5px;
text-align: center;

}



.container .container_slider .content_slider2>h2{


color: #263244;
font-size: 24px;
font-weight: bold;



}

.container .container_footer .form{

margin-left: 494px;
width: 891px;
}


.container .container_footer .form>h2{

margin-top: 196px;
color: #263244;
font-size: 32px;
font-weight: bold;
	text-align: center;
margin-bottom: 65px;
}

.container .container_footer .form h3{


text-transform: uppercase;
color: #263244;
font-size: 20px;
font-weight: bold;
	text-align: left;
margin-bottom: 20px;
}

.container .container_footer .form select{


width: 891px;
height: 41px;
background: #eeeeee;
margin-bottom: 45px;
}

.container .container_footer .form div{ display:inline-block;
font-size: 20px;
font-weight: bold;
	text-align: left;
margin-bottom: 15px;
color: #263244;
}


.container .container_footer .form .srok{

margin-left: 880px;

}


.container .container_footer .{

text-align: center;

}
.container .container_footer .statistic{
margin-top: 189px;
background: url("../img/фон3.png") center/cover no-repeat ;
width: 100%;
text-align: center;
}


.container .container_footer .statistic h2{
	padding-top: 105px;
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
text-align: center;

}
.container .container_footer .statistic .cherta{
margin-top: 33px;
margin-bottom: 88px;

}



.container .container_footer .statistic .content_stat{ display:inline-block;
width: 160px;
text-align: center;
margin-left: 43px;
margin-right: 43px;
margin-bottom: 92px;
vertical-align: top;
}
.container .container_footer .statistic .content_stat img{ 

margin-bottom: 34px;
}

.container .container_footer .statistic .content_stat h4{ 



font-size: 22px;
text-align: center;
	font-weight: bold;
color: #263244;
margin-bottom: 30px;
}


.container .container_footer .statistic .content_stat p{ 



font-size: 12px;
text-align: center;
	font-weight: bold;
color: #263244;
margin-bottom: 30px;
}

.container .container_footer .OTZOV{
margin-top: 108px;
width: 100%;
text-align: center;
}


.container .container_footer .OTZOV h2{
	padding-top: 104px;
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
text-align: center;

}



.container .container_footer .OTZOV .content_OTZOV p{
text-align: center;
	margin-top: 37px;
	margin-left: 607px;
	width: 698px;
}

.container .container_footer .OTZOV  .cherta{
margin-top: 36px;
margin-bottom: 60px;

}






.container .container_footer .OTZOV .content_OTZOV   img{
	margin-top: 49px;
margin-right: 16px;

}
footer{
    
    margin-top: 90px;
   background: #354051;
	width: 100%;
	text-align: center;
	color: #ffffff;
}

.footter_content .contact{ 
 

background: url("../img/Фон1.png") 50% 65%/auto 150% no-repeat ;

 }

.footter_content .contact h2{

	padding-top: 104px;
text-transform: uppercase;
color: #ffffff;
font-size: 32px;
font-weight: bold;
text-align: center;


 }

.footter_content .contact .cherta{
margin-top: 32px;
margin-bottom: 32px;

}

.footter_content .contact .text{
width: 600px;
	margin-left: 620px;
}

.footter_content .contact .content_contact{ display:inline-block;
vertical-align: top;

margin-right: 85px;
    margin-top: 50px;
margin-bottom: 37px;
}




.footter_content .contact .content_contact img{ 
    margin-bottom: 17px;

}


.footter_content .contact .FORM_FOOTER h3 { 
    margin-bottom: 43px;
padding-top: 104px;
text-transform: uppercase;
color: #ffffff;
font-size: 20px;
font-weight: bold;
text-align: center;
}



.footter_content .contact .FORM_FOOTER .pole { 
  width: 357px;
  height: 36px;
  margin-right: 29px;
  margin-bottom: 15px;
  background:rgba(210,214,220, 0.8);
}

.footter_content .contact .FORM_FOOTER textarea { 
  width: calc(357px + 357px + 29px);
  height: 97px;
  margin-right: 29px;
  margin-bottom: 27px;
     background:rgba(210,214,220, 0.8);
}



.footter_content .contact .FORM_FOOTER .but{

	height: 42px;
	text-align: center;
	background: none;
	border: solid 2px #ffffff;
	color: #ffffff;
	border-radius: 5px;
	padding: 0px 16px;
	  margin-top: 28px;
	   margin-bottom: 75px; 
	font-size: 16px;
}





.footter_content .contact .SOC_SETI .SOC{ display:inline-block;
vertical-align: top;

margin-right: 55px;
margin-bottom: 63px; 

}


 .footter_content .map { 

 	background: url("../img/Карта.png") 10% 50% no-repeat;
 	width: 100%;

height: 351px;}


.footter_content .info{ 
margin-top: 38px;
margin-bottom: 30px;
 }
