body{

font-family: Arial, sans-serif ;

}


@keyframes title_anime {
from{
	opacity: 0;
	margin-top: -100px;
}
to{

opacity: 1;
margin-top: 97px;
}

}

@keyframes coming {
from{
opacity: 0;
}
to{
opacity: 1;

}

}



@keyframes menu_anime {
from{
	opacity: 0;
	margin-top: -80px;
}
to{

opacity: 1;
margin-top: 0px;
}

}



@keyframes main_anime {
from{
	opacity: 0;
	margin-left: -500px;
}
to{

opacity: 1;
margin-left: 0px;
}

}




nav{
width: 100%;
height: 60px;
background: #344051;
position: fixed;
	z-index: 10;
}




.logo{

color: #ffffff;
font-size: 28px;
line-height: 60px;
float: left;
-webkit-animation:coming 2s ease;
-o-animation: coming 2s ease;
 animation:coming 2s ease;
}

.btn-close1:visited {
text-align: center;
	background: none;
border: solid 2px ;
font-weight: bold;
	font-size:14px;
	color: #ffffff;
	border-radius: 5px;
	text-decoration: none;
padding:1px, 1px, 1px, 1px;
}

.menu{

float: left;
color: #ffffff;
font-size: 14px;
line-height: 60px;
}

.menu li{
float: left;
margin-right: 40px;
text-transform: uppercase;
-webkit-animation:menu_anime 0.4s ease forwards;
-o-animation: menu_anime 0.4s ease forwards;
 animation:menu_anime 0.4s ease forwards;
 opacity: 0;
}
.menu li:nth-child(2){
animation-delay: 0.4s;


}

.menu li:nth-child(3){
animation-delay: 0.8s;


}
.menu li:nth-child(4){
animation-delay: 1.2s;


}
.menu li:nth-child(5){
animation-delay: 1.6s;


}
.menu li:nth-child(6){
animation-delay: 2.0s;


}
.menu li a{
transition: all 0.1s;
color: #ffffff;

transform: scale(1.0);
display: inline-block;
text-decoration: none;
}

.menu li a:visited{
font-weight: bold;
color: #ffffff;
}

.menu li a:hover{
font-weight: bold;
color: #f39a25;
transform: scale(1.1);
}

main{

	width: 100%;
	height: 100% ;


}



.main{

	width: 100%;
	height: calc(100% + 60px);
	background: url("../img/fon4.png") 90% 100%/auto 85% no-repeat,url("../img/fon.jpg") center/cover no-repeat ;
}
.title_container{

float: left;
color:  #2c384a;
text-align: center;
width: 100%;
 opacity: 0;
-webkit-animation:main_anime 3s ease forwards;
-o-animation: main_anime 3s ease forwards;
 animation: main_anime 3s ease forwards;
 -webkit-animation-delay: 2s;
 -o-animation-delay: 2s;
 animation-delay: 2s;
}
.title_container h1{
font-size: 72px;
font-weight: bold;

}
.title_container h4{
margin-top: 40px;
font-size: 22px;
color: #79818d;
}
.title_container input{

	height: 42px;
	text-align: center;
	background: none;
	border: solid 2px #79818d;
	color: #6d7682;
	border-radius: 5px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
	transition: all 0.2s;
	display: inline-block;
	transform: scale(1.0);
}


.title_container input:hover{

	background: #344051;
	color: #ffffff;
	font-weight: bold;
}
.title_container input:active{

	transform: scale(1.1);
	font-weight: bold;
	
}

@media(max-width: 991px){

.title_container, .title_container h4, .title_container input{
	color: #ffffff;
position: relative;
z-index: 3;
}
.title_container input{border: solid 2px  #ffffff;}

.main{ 

position: relative;

}

.main:after{
	content: "";
	bottom: 0;
	top:0 ;
	left:0 ;
	right: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}



}






.container1{
width: 100%;


}




.container1 .container_title{
text-align: center;
margin-left: 33%;
margin-top: 97px;
width: 36%;
margin-bottom: 98px;
opacity: 0;
-webkit-animation:title_anime 3s ease forwards;
-o-animation: title_anime 3s ease forwards;
 animation: title_anime 3s ease forwards;
 -webkit-animation-delay: 4s;
 -o-animation-delay: 4s;
 animation-delay: 4s;

}

@keyframes bouncing{
  0%  { bottom: 0; box-shadow: 0 0 1px rgba(0,0,0,0.5); }
  100% { bottom: 50px; box-shadow: 0 10px 10px rgba(0,0,0,0.1);
font-weight: bold;


   }
}

.container1 .container_title input{
height: 42px;
	text-align: center;
	background: none;
	border: solid 2px #79818d;
	color: #6d7682;
	border-radius: 5px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
	transition: all 0.2s;
	display: inline-block;
	transform: scale(1.0);
	 animation: bouncing 1s cubic-bezier(0.1,0.25,0.1,1) 1s infinite alternate both; 
	
}
.container1 .container_title input:hover{
background: #344051;
	color: #ffffff;
	font-weight: bold;
	animation-play-state: paused; 

}
.container1 .container_title input:active{
background: #344051;
	color: #ffffff;
	font-weight: bold;
	animation-play-state: paused; 

}


.container1 .container_title h2{
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
}




.container1 .container_title .cherta{
margin-top: 33px;
margin-bottom: 61px;

}
.container1 .container_title .Foto_tl{

margin-bottom: 22px;

}


@keyframes container_body {
from{
	opacity: 0;
	margin-left: +1500px;
}
to{

opacity: 1;
margin-left: 0px;
}

}



.container1 .container_body{
background: url("../img/fon_2.png") center/cover no-repeat ;
text-align: center;
width: 100%;
opacity: 0;
-webkit-animation:container_body 3s ease forwards;
-o-animation: container_body 3s ease forwards;
 animation: container_body 3s ease forwards;
 -webkit-animation-delay: 10s;
 -o-animation-delay: 10s;
 animation-delay: 10s;
}

.container1 .container_body .content {
display:inline-block;
width: 214px;
margin-left: 43px;
margin-right: 43px;
text-align: center;
margin-bottom: 92px;
}

.container1 .container_body h2{
	padding-top: 107px;
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
}

.container .container1_body .cherta{
margin-top: 33px;
margin-bottom: 103px;

}

.container1 .container_body .Zagolovok_kart{

margin-bottom: 35px;

}



.container1 .container_body .Zagolovok_mini{


	color: #d17700;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}




.container1 .loader {
	margin-left: 50%;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;

 
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); 

-webkit-animation-delay: 2s;
 -o-animation-delay: 2s;
 animation-delay: 2s;
-webkit-animation:spin_close 1s ease forwards;
-o-animation: spin_close 1s ease forwards;
 animation: spin_close 1s ease forwards;

}


  }


@keyframes spin_close {
 from{


   
opacity: 1;
}
to{
opacity: 0;

}
}

@keyframes container_slider {
from{
	opacity: 0;
	margin-left: -1500px;
}
to{

opacity: 1;
margin-left: auto;
}

}


.container1 .container_slider{


	text-align: center;
	opacity: 0;
	-webkit-animation:container_slider 5s ease forwards;
-o-animation: container_slider 5s ease forwards;
 animation: container_slider 5s ease forwards;
 -webkit-animation-delay: 15s;
 -o-animation-delay: 15s;
 animation-delay: 15s;
}





.container1 .container_slider .slider_title h2{
	padding-top: 107px;
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
text-align: center;

}

.container1 .container_slider .slider_title .cherta{
margin-top: 33px;
margin-bottom: 35px;

}

.container1 .container_slider .slider_title>p{

width: 40%;
margin-left: 30%;
text-align: center;

}

.container1 .container_slider .slider img{
width: 90%;	
height:  90%;	
margin-left: 2%;
margin-top: 42px;
text-align: center;
}

.container1 .container_slider .content_slider{
width: 90%;	
height:  90%;	
margin-left: 5%;


}


@media(min-width:  1000px){
.container1 .container_slider .content_slider{

margin-left: 5%;
}

}


@media (min-width:  1000px) and (max-width:  1200px){
.container1 .container_slider .content_slider{

margin-left: 5%;
}

}
@media(min-width:  1200px){
.container1 .container_slider .content_slider{

margin-left: 2%;
}

}

@media(min-width: 1800px){
.container1 .container_slider .content_slider{

margin-left: 0%;
}

}

.container1 .container_slider  .content_slider .content_slider1{display:inline-block;
width: 12%;
margin-top: 22px;
text-align: left;
margin-right: 3%;
}





@media(max-width: 1700px){
.container1 .container_slider  .content_slider .content_slider1{

margin-right: 10%;
}

}



@media(max-width: 1100px){
.container1 .container_slider  .content_slider .content_slider1{

margin-right: 16%;
}

}

.container1 .container_slider  .content_slider .content_slider2{display:inline-block;
width: 60%;
margin-top: 12px;
text-align: left;
vertical-align: top;
}

.container1 .container_slider  .content_slider .content_slider1>h2{

text-transform: uppercase;
color: #263244;
font-size: 20px;
font-weight: bold;
text-align: left;
margin-bottom: 15px;

}



.container1 .container_slider  .content_slider .content_slider1>p{


text-align: left;
margin-bottom: 15px;

}



.container1 .container_slider  .content_slider .content_slider1>input{

text-transform: uppercase;
width: 200px;
background: #63b5ae;
color:  #ffffff;
font-size: 18px;
font-weight: bold;
height: 44px;
border-radius: 5px;
text-align: center;

}




.container1 .container_slider  .content_slider.content_slider1>input:hover{
background: #344051;
	color: #ffffff;
	font-weight: bold;
	animation-play-state: paused; 

}
.container1 .container_slider  .content_slider .content_slider1>input:active{
background: #344051;
	color: #ffffff;
	font-weight: bold;
	animation-play-state: paused; 

}


.container1 .container_slider  .content_slider .content_slider2>h2{


color: #263244;
font-size: 24px;
font-weight: bold;



}

.container1 .container_footer .form{

width: 50%;
}

@media (max-width : 2000px){

.container1 .container_footer .form{

margin-left: 10%;
width: 50%;
}

}



@media (max-width : 1600px){

.container1 .container_footer .form{

margin-left: 10%;
width: 50%;
}

}


@media (max-width : 1300px){

.container1 .container_footer .form{

margin-left: 15%;

}

}



@media (max-width : 1100px){

.container1 .container_footer .form{

margin-left: 10%;
width: 80%;
}

}

@media (min-width : 1100px){

.container1 .container_footer .form{
margin-left: 8%;
width: 80%;
}

}

@media (max-width : 1000px){

.container1 .container_footer .form{

margin-left: 8%;
width: 90%;
}

}



.container1 .container_footer .form>h2{

margin-top: 196px;
color: #263244;
font-size: 32px;
font-weight: bold;
	text-align: center;
margin-bottom: 65px;
}

.container1 .container_footer .form h3{


text-transform: uppercase;
color: #263244;
font-size: 20px;
font-weight: bold;
	text-align: left;
margin-bottom: 20px;
}



.container1 .container_footer .form select{


width: 100%;
height: 41px;
background: #eeeeee;
margin-bottom: 45px;
}


.container1 .container_footer .form select:hover{



background: #ffffff;
border: 1px solid #bdbdbd;;
}


.container1 .container_footer .form select:active{



background: #212529;
border: 1px solid #bdbdbd;
}


.container1 .container_footer .form select:focus{



background: #ffffff;
border: 1px solid #bdbdbd;;
}



.container1 .container_footer .form div{ display:inline-block;
font-size: 20px;
font-weight: bold;
	text-align: left;
margin-bottom: 15px;
color: #263244;
}

.container1 .container_footer .form .stoimost_content{

width: 100%;

}


.container1 .container_footer .form .stoimost_content .stoimost{

width: 50%;

}


.container1 .container_footer .form .stoimost_content .srokn{

width: 50%;

}

.container1 .container_footer .form .stoimost_content .srok1{
text-align: right;
width: 45%;

}


.container1 .container_footer .form .stoimost_content .srok2{
text-align: right;
width: 45%;

}








.container1 .container_footer .{

text-align: center;

}
.container1 .container_footer .statistic{
margin-top: 189px;
background: url("../img/фон3.png") center/cover no-repeat ;
width: 100%;
text-align: center;
background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container1 .container_footer .statistic h2{
	padding-top: 105px;
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
text-align: center;

}
.container1 .container_footer .statistic .cherta{
margin-top: 33px;
margin-bottom: 88px;

}



.container1 .container_footer .statistic .content_stat{ display:inline-block;
width: 160px;
text-align: center;
margin-left: 43px;
margin-right: 43px;
margin-bottom: 92px;
vertical-align: top;
}
.container1 .container_footer .statistic .content_stat img{ 

margin-bottom: 34px;
}

.container1 .container_footer .statistic .content_stat h4{ 



font-size: 22px;
text-align: center;
	font-weight: bold;
color: #263244;
margin-bottom: 30px;
}


.container1 .container_footer .statistic .content_stat p{ 



font-size: 12px;
text-align: center;
	font-weight: bold;
color: #263244;
margin-bottom: 30px;
}

@keyframes OTZOV {
from{
	opacity: 0;
	margin-left: -500px;
}
to{

opacity: 1;
margin-left: auto;
}

}





.container1 .container_footer .OTZOV{
margin-top: 108px;
width: 50%;
margin-left: 25%;
text-align: center;
opacity: 0;
	-webkit-animation:OTZOV 5s ease forwards;
-o-animation: OTZOV 5s ease forwards;
 animation: OTZOV 5s ease forwards;
 -webkit-animation-delay: 10s;
 -o-animation-delay: 10s;
 animation-delay: 10s;
}


.container1 .container_footer .OTZOV h2{
	padding-top: 104px;
text-transform: uppercase;
color: #263244;
font-size: 32px;
font-weight: bold;
text-align: center;

}



.container1 .container_footer .OTZOV .content_OTZOV p{
text-align: center;
	margin-top: 37px;
		width: 100%;
}

.container1 .container_footer .OTZOV  .cherta{
margin-top: 36px;
margin-bottom: 60px;

}






.container1 .container_footer .OTZOV .content_OTZOV   img{
	margin-top: 49px;
margin-right: 16px;

}





@keyframes OTZOV {
from{
	opacity: 0;
	margin-top: -100px;
}
to{

opacity: 1;
margin-top: 80px;
}

}


footer{
    opacity: 0;
    margin-top: 90px;
   background: #354051;
	width: 100%;
	text-align: center;
	color: #ffffff;
-webkit-animation:container_slider 5s ease forwards;
-o-animation: container_slider 5s ease forwards;
 animation: container_slider 5s ease forwards;
 -webkit-animation-delay: 25s;
 -o-animation-delay: 25s;
 animation-delay: 25s;
}

.footter_content .contact{ 
 

background: url("../img/Фон1.png") 50% 65%/auto 150% no-repeat ;

 }

.footter_content .contact h2{

	padding-top: 104px;
text-transform: uppercase;
color: #ffffff;
font-size: 32px;
font-weight: bold;
text-align: center;


 }

.footter_content .contact .cherta{
margin-top: 32px;
margin-bottom: 32px;

}

.footter_content .contact .text{
width: 60%;
	margin-left: 22%;
}

.footter_content .contact .content_contact{ display:inline-block;
vertical-align: top;

margin-right: 55px;
    margin-top: 50px;
margin-bottom: 37px;
}




.footter_content .contact .content_contact img{ 
    margin-bottom: 17px;

}


.footter_content .contact .FORM_FOOTER h3 { 
    margin-bottom: 43px;
padding-top: 104px;
text-transform: uppercase;
color: #ffffff;
font-size: 20px;
font-weight: bold;
text-align: center;
}

.footter_content .contact .FORM_FOOTER{

width: 70%;
	margin-left: 20%;
}

.footter_content .contact .FORM_FOOTER .pole { 
  width: 48%;
  height: 36px;
  margin-right: 1%;
  margin-bottom: 15px;
  background:rgba(210,214,220, 0.8);
}

.footter_content .contact .FORM_FOOTER textarea { 
  width: 97%;
  height: 97px;
  margin-left: 1%;
  margin-right: 29px;
  margin-bottom: 27px;
     background:rgba(210,214,220, 0.8);
}



.footter_content .contact .FORM_FOOTER .but{

	height: 42px;
	text-align: center;
	background: none;
	border: solid 2px #ffffff;
	color: #ffffff;
	border-radius: 5px;
	padding: 0px 16px;
	  margin-top: 28px;
	   margin-bottom: 75px; 
	font-size: 16px;
}

.footter_content .contact .FORM_FOOTER .but:hover{
background: #ffffff;
	color: #344051;
	font-weight: bold;
	animation: bouncing 1s cubic-bezier(0.1,0.25,0.1,1) 1s infinite alternate both; 
	animation-play-state: paused; 

}
.footter_content .contact .FORM_FOOTER .but:active{
background:#ffffff ;
	color: #344051;
	font-weight: bold;
	animation: bouncing 1s cubic-bezier(0.1,0.25,0.1,1) 1s infinite alternate both; 
	animation-play-state: paused; 

}


.footter_content .contact .SOC_SETI{ margin-left: 15%;}

.footter_content .contact .SOC_SETI .SOC{ display:inline-block;
vertical-align: top;

margin-right: 55px;
margin-bottom: 63px; 

}


 .footter_content .map { 

 	background: url("../img/Карта.png") 10% 50% no-repeat;
 	width: 100%;

height: 351px;}


.footter_content .info{ 
margin-top: 38px;
margin-bottom: 30px;
 }
